---
title: How you can contribute page has moved
description: This page has moved to /community/
layout: layout-single-page-prose.njk
ignore_in_sitemap: true
---

# How you can contribute page has moved

The web address has moved to [/community/](/community/).
