---
title: Cookies page has moved
description: This page has moved to /privacy-policy/
layout: layout-single-page-prose.njk
ignore_in_sitemap: true
---

# Cookies page has moved

The web address has moved to [/privacy-policy/](/privacy-policy/).
